<ion-header>
  <ion-toolbar class = "heading" animated color = "dark">
    <ion-title>"Lecturer > Admin"</ion-title>
  </ion-toolbar>
</ion-header>


<ion-tabs>
    <ion-tab-bar color = "dark" slot = "bottom">
  
      <ion-tab-button (click) = "home()">
        <ion-icon name = "home"></ion-icon>
        <ion-label class = "text">Home.</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click) = "messages()">
        <ion-icon name = "chatbubbles" ></ion-icon>
        <ion-label class = "text">Messages.</ion-label>
      </ion-tab-button>  
  
      <ion-tab-button (click) = "logout()">
        <ion-icon name = "log-out"></ion-icon>
        <ion-label class = "text">logout.</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>

<ion-content padding>
  <section>
    <h2 class = "text"> You can Add, Edit and Remove Courses from this Page.</h2>
  </section>


  <ion-input class="text" [(ngModel)]="inputText" placeholder="Type Course to Add"></ion-input>
  <ion-button class = "btn" icon-left fill = "solid" expand = "block" color = "dark" (click) = "addItem({name:inputText})">Submit</ion-button>

  <ion-list>
    <ion-item class="text" *ngFor="let item of courses" (click)="edit_item(item.key)">
      {{item.name}}
    </ion-item>
  </ion-list>

</ion-content>


