<ion-tabs #tabs>
	<ion-tab-bar color = "dark" slot="bottom">
		<ion-tab-button (click)="home()">
			<ion-icon name="home"></ion-icon>
			<ion-label class = "text-tab">Home.</ion-label>
		</ion-tab-button>

    <ion-tab-button tab="feed">
			<ion-icon name="albums"></ion-icon>
			<ion-label class = "text-tab">Forum.</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="uploader">
			<ion-icon name="add"></ion-icon>
			<ion-label class = "text-tab">Upload.</ion-label>
		</ion-tab-button>

		<!-- <ion-tab-button tab="profile">
			<ion-icon name="contact"></ion-icon>
			<ion-label class = "text-tab">Profile.</ion-label>
		</ion-tab-button> -->

    <ion-tab-button (click) = "logout()">
			<ion-icon name="log-out"></ion-icon>
			<ion-label class = "text-tab">Logout.</ion-label>
		</ion-tab-button>

  </ion-tab-bar>
</ion-tabs>