<ion-header>
  <ion-toolbar color = "dark">
    <ion-title class = "heading">"Tutorials and Labs Checkin"</ion-title>
  </ion-toolbar>
</ion-header>


<ion-tabs>
  <ion-tab-bar color = "dark" slot = "bottom">

    <ion-tab-button (click) = "home()">
      <ion-icon name = "home"></ion-icon>
      <ion-label class = "text-tab">Home.</ion-label>
    </ion-tab-button>

    <ion-tab-button (click) = "messages()">
      <ion-icon name = "chatbubbles" ></ion-icon>
      <ion-label class = "text-tab">Messages.</ion-label>
    </ion-tab-button>  

    <ion-tab-button (click) = "logout()">
      <ion-icon name = "log-out"></ion-icon>
      <ion-label class = "text-tab">logout.</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>



<ion-content padding>
  <ion-item>
    <ion-label class = "text" position = "floating">Enter Class for Check-in</ion-label>
    <ion-input type = "text" [(ngModel)] = "qrData"></ion-input>
  </ion-item>
  
  <ion-label></ion-label>

  <ion-button class = "btn" icon-left fill = "solid" expand = "block" color = "dark" (click) = "create_code()">
    <ion-icon name="barcode"></ion-icon>
    Generate Code
  </ion-button>
  
  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <!-- <ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode> -->
    <ion-card-content>
    <p> Class/Lab: {{ createdCode }} </p>
    </ion-card-content>
  </ion-card>

</ion-content>

<!-- // Lecturer
<button ion-button full icon-left (click) = "create_code()"><ion-icon name="qr-scanner"></ion-icon>Generate Code</button>
<ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card> -->



